ul {list-style-type: none;}

/* Month header */
.month {
    width: 100%;
    background: #5E6064;
    text-align: center;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #777;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0px;
    background: #eee;
    margin: 0;
    float: left;
}

.days li {
    list-style-type: none;
    float: left;
    width: 56px;
    height: 25px;
    text-align: right;
    margin-bottom: 12px;
    font-size:14px;
    color: #666;
}